<div class="search-fridge-main">
 
  <h1 class="search-res-head"> {{ section.settings.title }} </h1>   
  <h2> {{ section.settings.title1 }} </h2>
  
  <div class="part-type">
   
        
          
          <label class="texture-swatch">
            
            <input type="radio" name="properties[part_type]" value="Self">
            
            <span class="tooltip-text">Self</span>
          </label>	
    
           <label class="texture-swatch">
            
            <input type="radio" name="properties[part_type]" value="Bin">
            
            <span class="tooltip-text">Bin</span>
          </label>	
          <label class="texture-swatch">
            
            <input type="radio" name="properties[part_type]" value="Water Filter">
            
            <span class="tooltip-text">Water Filter</span>
          </label>	
    	  <label class="texture-swatch">
            
            <input type="radio" name="properties[part_type]" value="Exterior Parts">
            
            <span class="tooltip-text">Exterior Parts</span>
          </label>	
    
          <label class="texture-swatch">
            
            <input type="radio" name="properties[part_type]" value="Screws">
            
            <span class="tooltip-text">Screws</span>
          </label>	
    
           <label class="texture-swatch">
            
            <input type="radio" name="properties[part_type]" value="Electronics">
            
            <span class="tooltip-text">Electronics</span>
          </label>	
          <label class="texture-swatch">
            
            <input type="radio" name="properties[part_type]" value="Hardware">
            
            <span class="tooltip-text">Hardware</span>
          </label>	
    	  <label class="texture-swatch">
            
            <input type="radio" name="properties[part_type]" value="Others">
            
            <span class="tooltip-text">Others</span>
          </label>	
      
  </div>
  
  <div class="search-with-diagram">
    <h2> {{ section.settings.title3 }} </h2>
    
    <section class="banner-section">

      <div class="carousel-search-diagrams">
        {% for block in section.blocks %}
        <div class="item">
          <div class="items-inner">
            <img src="{{ block.settings.banner_img | img_url : 'master' }}" alt="">
            <span>{{ block.settings.image_sub_title }}</span>
          </div>
        </div>        
        {% endfor %}  
      </div>

    </section>
    
    
     
    
    
  </div>
  
  <div class="search-within search_model_number ">
      <h2 class="heading-within"> {{ section.settings.title2 }} </h2>   
    
   <form action="" method="get" role="search" class="find-search-form">          
    <input class="search-input-bx" type="search" name="q" placeholder="Search" aria-label="Search" autocomplete="off">
    <button type="submit" class="btn submit"><img src="//cdn.shopify.com/s/files/1/0601/8488/7543/t/5/assets/icon_bold.png?v=14985898541735511435" alt=""> </button>
  </form>
    
    <div class="sort-right-align">
      <label><b>Sort By</b></label>
    <select class="sort-by">
      <option value="">Select a category</option>
      <option value="">Select a category</option>
      <option value="">Select a category</option>      
    </select>
    </div>
  </div>
  
  <div class="product-listing-section">
  	<div class="inner-section">

      <div class="semi-inner">
        <div clas="left-image">
          <img src="https://cdn.shopify.com/s/files/1/0601/8488/7543/files/image_4.png?v=1640779275">
        </div>
        <div class="right-desc">
          <h3>Part Title (Usually Part Number)</h3>
          <ul>
            <li><b>Description:</b>     Remote Control</li>
            <li><b>Specifications:</b>     2011 TV,Samsung,44KEY,3V,Amer</li>
            <li><b>Availability:</b>     Usually ships within 3-5 business days</li>
          </ul>
          <h3>$99.99</h3>
        </div>
      </div>

      <div class="semi-inner">
        <div clas="left-image">
          <img src="https://cdn.shopify.com/s/files/1/0601/8488/7543/files/image_4.png?v=1640779275">
        </div>
        <div class="right-desc">
          <h3>Part Title (Usually Part Number)</h3>
          <ul>
              <li><b>Description:</b>     Remote Control</li>
            <li><b>Specifications:</b>     2011 TV,Samsung,44KEY,3V,Amer</li>
            <li><b>Availability:</b>     Usually ships within 3-5 business days</li>
          </ul>
          <h3>$99.99</h3>
        </div>
      </div>
      <div class="semi-inner">
        <div clas="left-image">
          <img src="https://cdn.shopify.com/s/files/1/0601/8488/7543/files/image_4.png?v=1640779275">
        </div>
        <div class="right-desc">
          <h3>Part Title (Usually Part Number)</h3>
          <ul>
              <li><b>Description:</b>     Remote Control</li>
            <li><b>Specifications:</b>     2011 TV,Samsung,44KEY,3V,Amer</li>
            <li><b>Availability:</b>     Usually ships within 3-5 business days</li>
          </ul>
          <h3>$99.99</h3>
        </div>
      </div>
      <div class="semi-inner">
        <div clas="left-image">
          <img src="https://cdn.shopify.com/s/files/1/0601/8488/7543/files/image_4.png?v=1640779275">
        </div>
        <div class="right-desc">
          <h3>Part Title (Usually Part Number)</h3>
          <ul>
              <li><b>Description:</b>     Remote Control</li>
            <li><b>Specifications:</b>     2011 TV,Samsung,44KEY,3V,Amer</li>
            <li><b>Availability:</b>     Usually ships within 3-5 business days</li>
          </ul>
          <h3>$99.99</h3>
        </div>
      </div>
      <div class="semi-inner">
        <div clas="left-image">
          <img src="https://cdn.shopify.com/s/files/1/0601/8488/7543/files/image_4.png?v=1640779275">
        </div>
        <div class="right-desc">
          <h3>Part Title (Usually Part Number)</h3>
          <ul>
             <li><b>Description:</b>     Remote Control</li>
            <li><b>Specifications:</b>     2011 TV,Samsung,44KEY,3V,Amer</li>
            <li><b>Availability:</b>     Usually ships within 3-5 business days</li>
          </ul>
          <h3>$99.99</h3>
        </div>
      </div>
    </div>
  </div>
  
</div>




{% schema %}
  {
    "name": "Main Search Fridge",
    "settings": [
       

        {
        "id": "title",
        "type": "text",
        "label": "Heading"
        },
        {
        "id": "title1",
        "type": "text",
        "label": "Sub Heading", 
        "default" : "Refine your search by part type"
        },
          {
        "id": "title3",
        "type": "text",
        "label": "Heading Search Diagram", 
        "default" : "Search using diagrams"
        } , 
         {
        "id": "title2",
        "type": "html",
        "label": "Heading Search Within", 
        "default" : "Search <span>within</span> RF28K9071257"
        }   

    ],
    "blocks": [
  {
    "type": "slider",
    "name": "Slider",
    "settings": [
      {
        "id": "banner_img",
        "type": "image_picker",
        "label": "Slider Image"
      },
      {
      "id": "image_sub_title",
      "type": "text",
      "label": "Name ", 
      "default" : "Name"
      } 
    ]
  }
]
  }
{% endschema %}

{% stylesheet %}
.carousel-search-diagrams .items-inner {
    margin: 8px;
 text-align:center;
}
.carousel-search-diagrams .slick-arrow {
    width: 15px;
    height: 26px;
}
.carousel-search-diagrams .slick-arrow:before{
display:none
}
.carousel-search-diagrams .slick-arrow {
    background-image: url(https://cdn.shopify.com/s/files/1/0601/8488/7543/files/arrow-right.png?v=1640847533);
   background-repeat: no-repeat;
}
.carousel-search-diagrams button.slick-prev.slick-arrow {
    transform: rotate(180deg);
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<script>

  
  $('.carousel-search-diagrams').slick({
   slidesToShow: 6,
   slidesToScroll: 1,
   arrows:true,
   dots: false,
   focusOnSelect: true,
     responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 2,
            adaptiveHeight: true,
          },
        },
        {
          breakpoint: 990,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 1,
          },
        },
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
          },
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
          },
        },
      ]
 });
  
</script>
