<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-main-common page_{{ page.handle }}" id="page_{{ page.handle }}">
  <h1 class="main-page-title page-title h0" id="xx">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

<style>
  .page-main-common {
    margin-top: 15px;
}
 .page_return-exchange h1.main-page-title {
    font-family: 'Samsung Sharp Sans';
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0px;
    line-height: 68px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
}
  .page_return-exchange .rte h3 {
    font-family: 'Samsung Sharp Sans';
    font-weight: 700;
    margin-top: 37px;
    font-size: 32px;
    line-height: 46px;
}

  .page_return-exchange .rte h3, .page_return-exchange .rte h4 {
    color:#000000;
}
 .page_return-exchange .rte p {
    font-family: 'SamsungOne 400';
    font-size: 16px;
    line-height: 24px;
    display:inline-block;
    color: #000000;
    width: 100%;
   max-width: 865px;
   letter-spacing: 0px;
}
.page_return-exchange .rte  a {
    color: #0178C8!Important;
    display: block;
    margin-top: 18px;
}
  
  .page_return-exchange .rte h4 {
    font-family: 'SamsungOne 700';
    margin-top: 32px;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 5px;
}
  
  @media only screen and (max-width:768px){
    #page_return-exchange {
    padding: 0px;
}
   .page-main-common {
    margin-top: 30px;
}
  .page_return-exchange h1.main-page-title {
    font-size: 25px;
  }
    .page_return-exchange .rte h4 {
      margin-top: 32px;
    }

    
  }
  
  
</style>


{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section page-main-common"
}
{% endschema %}
