 {{ 'footer.css' | asset_url | stylesheet_tag }}
<footer>
  <div class="container">
    <div class="footer-wrap">
      <div class="footer_hedding">
        <h6>{{ section.settings.title }} </h6>
        <p>{{ section.settings.sub_title }}</p>
      </div>
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'link_list' -%}
      <div class="footer_menu">
        <div class="f-title">
          <h3>  {{- block.settings.heading | escape -}} </h3>          
        </div>
        {%- if block.settings.menu != blank -%}
        <ul class="f_navmenu">
          {%- for link in block.settings.menu.links -%}
          <li>
            <a href="{{ link.url }}" class="common-transition{% if link.active %} list-menu__item--active{% endif %}">
              {{ link.title }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
      {%- endif -%}
      {%- endcase -%}
      {%- endfor -%}
      
    </div>
    <div class="support_wrap">
      <div class="footer_menu">
        <div class="footer_hedding">
          <h6>{{ section.settings.title_right }}</h6>
          <p><a href="tel:{{ section.settings.no }}">{{ section.settings.no }}</a></p>
          <span>{{ section.settings.add }} </span>
        </div>

        {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'link_list_menu' -%}
        <ul class="f_navmenu">
          {%- for link in block.settings.menu_nav.links -%}
          <li>
            <a href="{{ link.url }}" class="common-transition{% if link.active %} list-menu__item--active{% endif %}">
              {{ link.title }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
        {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</footer>



{% schema %}
{
"name": "Footer",
"settings": [
    {
    "type": "text",
    "id": "title",          
    "label": "Title"          
    },
    {
    "type": "text",
    "id": "sub_title",          
    "label": "Sub Title"          
    },
    {
    "type": "text",
    "id": "title_right",          
    "label": "Right Title"          
    },

{
    "type": "text",
    "id": "no",          
    "label": "Number"          
    },
{
    "type": "html",
    "id": "add",          
    "label": "Address"          
    }

],
 "blocks": [
    {
      "type": "link_list",
      "name": "Link_list",
      "settings": [
        {
          "type": "text",
          "id": "heading",          
          "label": "Hedding"          
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Footer Menu"          
        }
      ]
    },
{
      "type": "link_list_menu",
      "name": "Link_List_Menu",
      "settings": [     
        {
          "type": "link_list",
          "id": "menu_nav",
          "label": "Footer Menu"          
        }
      ]
    }
  
   
  ]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
