<div class="generic-content">
  {% for block in section.blocks %}
  {% if block.settings.text-heading1 %}
  <h1 class="heading">{{block.settings.text-heading1}}</h1>
  {% endif %}
  {% if block.settings.text-heading2 %}
  <h2 class="sub-heading">{{block.settings.text-heading2}}</h2>
  {% endif %}
  {% if block.settings.text-heading3 %}
  <h3 class="sub-heading1">{{block.settings.text-heading3}}</h3>
  {% endif %}
  <p>{{block.settings.text-paragraph}}</p>
  {{block.settings.text-paragraph1}}
  {%  endfor %}
</div> 
 
{% schema %}
{
"name": "Order Support Page",
"settings": [
        {

        "type": "color",
        "id": "color_Heading",
        "label": "Heading color",
        "default": "#FFFFFF"
        }
      ],
"blocks":[
        {

        "type": "text",
        "name": "Content block",
        "settings":[	

        {
        "type":"text",
        "id":"text-heading1",
        "label":"Enter Text Heading1"
        },

        {
        "type":"text",
        "id":"text-heading2",
        "label":"Enter Text Heading2"
        },

        {
        "type":"text",
        "id":"text-heading3",
        "label":"Enter Text Heading3"
        },
        {
        "type": "textarea",    
        "id": "text-paragraph",
        "label": "Text"

        },
        {
        "type": "richtext",    
        "id": "text-paragraph1",
        "label": "RichText"

        }

]

}],
"presets":[
      {
      "category":"text",
      "name":"Order Support Page"
      }
]


}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


