<!doctype html>     
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>   
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
 
    {%- if settings.favicon != blank -%}  
    <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
      
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>


    <script>
         if (window.location.href.indexOf("/search?q=") > -1) {
       var search_term =  window.location.href;
      console.log('search term: '+search_term);
      
       const search_page_query = search_term.split("?q=");
       var search_query_page =  search_page_query[1];
       console.log(search_query_page);
      window.location.replace('/pages/search-fridge?q1='+search_query_page);

      
     }
      
      var page_url      = window.location.href; 
    const myArray = page_url.split("?cart=");
    var search_query =  myArray[1];
      
    if(search_query == 'true'){
//      alert(search_query);
    
//         setInterval(function() {
// //             $('#MainContent').hide();
//       }, 10);
      setTimeout(function() {
        $('.ad_to_cart').click();
      }, 400);
      
    }
      
      
    </script>
    
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <!-- <script src="{{ 'jquery-1.5.2.min.js' | asset_url }}"></script>
<script src="{{ 'scriptbreaker-multiple-accordion-1.js' | asset_url }}" ></script> -->
    <script src="{{ 'flickity.pkgd.js' | asset_url }}"></script>
    <script src="{{ 'flickity.pkgd.min.js' | asset_url }}"></script>

<!--   slick slider files start  -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">

    <script src="https://kenwheeler.github.io/slick/slick/slick.js"></script>
<!--   slick slider files end   -->
    
    <script src="{{ 'main.js' | asset_url }}"></script>
  

    {{ content_for_header }}
{% render 'usf' %}


    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
    {{ settings.type_body_font | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    {{ body_font_bold_italic | font_face: font_display: 'swap' }}
    {{ settings.type_header_font | font_face: font_display: 'swap' }}

    :root {
    --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
    --font-body-style: {{ settings.type_body_font.style }};
    --font-body-weight: {{ settings.type_body_font.weight }};

    --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
    --font-heading-style: {{ settings.type_header_font.style }};
    --font-heading-weight: {{ settings.type_header_font.weight }};

    --color-base-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
    --color-base-background-1: {{ settings.colors_background_1.red }}, {{ settings.colors_background_1.green }}, {{ settings.colors_background_1.blue }};
    --color-base-background-2: {{ settings.colors_background_2.red }}, {{ settings.colors_background_2.green }}, {{ settings.colors_background_2.blue }};
    --color-base-solid-button-labels: {{ settings.colors_solid_button_labels.red }}, {{ settings.colors_solid_button_labels.green }}, {{ settings.colors_solid_button_labels.blue }};
    --color-base-outline-button-labels: {{ settings.colors_outline_button_labels.red }}, {{ settings.colors_outline_button_labels.green }}, {{ settings.colors_outline_button_labels.blue }};
    --color-base-accent-1: {{ settings.colors_accent_1.red }}, {{ settings.colors_accent_1.green }}, {{ settings.colors_accent_1.blue }};
    --color-base-accent-2: {{ settings.colors_accent_2.red }}, {{ settings.colors_accent_2.green }}, {{ settings.colors_accent_2.blue }};
    --payment-terms-background-color: {{ settings.colors_background_1 }};

    --gradient-base-background-1: {% if settings.gradient_background_1 != blank %}{{ settings.gradient_background_1 }}{% else %}{{ settings.colors_background_1 }}{% endif %};
    --gradient-base-background-2: {% if settings.gradient_background_2 != blank %}{{ settings.gradient_background_2 }}{% else %}{{ settings.colors_background_2 }}{% endif %};
    --gradient-base-accent-1: {% if settings.gradient_accent_1 != blank %}{{ settings.gradient_accent_1 }}{% else %}{{ settings.colors_accent_1 }}{% endif %};
    --gradient-base-accent-2: {% if settings.gradient_accent_2 != blank %}{{ settings.gradient_accent_2 }}{% else %}{{ settings.colors_accent_2 }}{% endif %};

    --page-width: {{ settings.page_width | divided_by: 10 }}rem;
    --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;
    }

    *,
    *::before,
    *::after {
    box-sizing: inherit;
    }

    html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
    }

    body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    line-height: 1.8;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    }

    @media screen and (min-width: 750px) {
    body {
    font-size: 1.6rem;
    }
    }
    {% endstyle %}

     {{ 'custom-dev.css' | asset_url | stylesheet_tag }}
    {{'custom-dev2.css' | asset_url | stylesheet_tag }}
    {{ 'left-sidebar.css' | asset_url | stylesheet_tag }}
    
    {% if template.name != 'collection' %}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {% endif %}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'flickity.css' | asset_url | stylesheet_tag }}
    {{ 'responsive.css' | asset_url | stylesheet_tag }}
    

    {%- unless settings.type_body_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
    <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  </head>
<!-- onclick="myFunction(this)" -->
  <body class="gradient page_{{ page.handle }}" >
    <div class="menu-overlay">
      <span class="close-menu" onclick="myFunction(this)">X</span>
    </div>
<!--     <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a> -->

    {% section 'announcement-bar' %}
    {% section 'header-new' %}
    
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
       {% if template == 'page.diagram-popup'  %}
            
          <div id="back-prev-page">
            <a href="#" ><img src="https://cdn.shopify.com/s/files/1/0601/8488/7543/files/arrow-back.png?v=1643024040">Back to previous page</a>
          </div>
          {% endif %}
      <div class="container">
        
        
        <div class="container_warp {% if template.name == 'account' or template.name == 'addresses' or template.name == 'login' or template.name == 'register' or request.path == '/challenge' %}full-width-main{% endif %}"> 
      
          {% if template != 'page.diagram-popup'  %}
               {% section 'side_left_menu' %}
         
          {% endif %}
          
          <div class="container_flex" >    
          {% if template == "product" %} 
          {% include 'breadcrumbs' %}
          {% endif %}
          {{ content_for_layout }}
        </div>
      </div>
      </div>
    </main>

    {% section 'new-footer' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>



    <script>
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
      }
    </script>

    {%- if settings.predictive_search_enabled -%}
    <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    
    <style>
      .menu-overlay {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(0 0 0 / 70%);
        z-index:9;
      }
      .menu-overlay  span.close-menu {
        float: right;
        color: #fff;
        font-weight: bold;
        font-family: 'SamsungOne 700';
        font-size: 21px;
        line-height: 1;
        margin-right: 20px;
        margin-top: 20px;
      }
      .change .menu-overlay {
        display:block;
      }   
      body.change {
        overflow: hidden;
      }
      /*    Account pages css    */
      .full-width-main #shopify-section-side_left_menu {
        display: none;
      }
      .full-width-main .container_flex{
        width:100%;
        padding-left: 0px;
      }  
      .account {
        padding: 0px;
      }
      .full-width-main  h1, .full-width-main  h2	{
        font-family: 'Samsung Sharp Sans';
        font-weight: 700;
      }
      .full-width-main  a {
        font-family: 'SamsungOne 400'!important;
        color: #000;
      }
      .full-width-main  p {
        font-family: 'SamsungOne 400';
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
      }   
      .full-width-main {
        font-family: 'SamsungOne 400';
        letter-spacing: 0px;
      }
      .customer button , input.shopify-challenge__button.btn{
        margin: 4rem 0 1.5rem;
        background: #1428a0!important;
        color: #fff!important;
        padding: 8px 30px;
        border-radius: 25px;
        justify-content: center;
        /*         margin: 0 auto; */
        margin-top: 4rem;
        box-shadow:none!important;
      }
      h2#AddressNewHeading {
        margin-top: 50px;
      }
      .full-width-main .customer button[type='reset'] {
        border:1px solid #000;
      }
      .full-width-main .customer.addresses {
        float: left;
        padding-left: 0px;
        margin-left: 0px;
        text-align: left;
      }
      .full-width-main .addresses ul *{
        text-align: left;
      }
      .full-width-main .addresses ul button{
        border:1px solid #000;
      }

      /*     Cart Page   */
      .cart-item-row {
        font-family: 'Samsung Sharp Sans';
        font-weight: 700;
        color:#000;
      }
      .cart-item-row .title-wrapper-with-link {
        margin-top: 0px;
      }
      .cart-item-row h1.title.title--primary.cart-head {
        font-size: 48px;
        font-family: 'Samsung Sharp Sans';
        font-weight: 700;
        color:#000;
        margin-top: 9px;
      }
      .cart-item-row  .cart-items th {
        text-align: left;
        padding-bottom: 1.8rem;
        opacity: 1;
        font-family: 'Samsung Sharp Sans';
        font-weight: 700;
        font-size: 16px;
        text-transform: capitalize!important;
        padding-bottom: 5px;
      }
      .cart-item-row  .cart-items .cart-item__name {
        color: #000;
      }
      .cart-item-row   p.ship-date {
        font-family: 'SamsungOne 400';
        font-size: 16px;
        font-weight: 400;
        color: #000000;
        letter-spacing: 0px;
      }
      small.tax-note.caption-large.rte {
        font-family: 'SamsungOne 400';
        font-size: 16px;
        font-weight: 400;
        color: #000000;
      }

      td.cart-item__price {
        font-size: 20px;
        text-align: right;
      }
      .cart-item-row  a.cart_remove {
        color: #1428A0;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Samsung Sharp Sans';
        font-weight: 700;
      }
      .totals * {
        justify-content: flex-end;
        font-size: 32px;
        font-family: 'Samsung Sharp Sans';
        font-weight: 700;
        color:#000;
      }
      .cart__footer-wrapper .cart__blocks {
        width: 100%;
      }
      .cart__footer-wrapper  button#checkout {
        background: #1428A0;
        border-radius: 26px;
        font-family: 'Samsung Sharp Sans';
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
        max-width: 320px;
        padding: 16px 0px 14px;
        box-shadow:none;
      }

      .cart__ctas {
        display: flex;
        gap: 2.5rem;
        justify-content: end;
      }
      a.continue-shop.underlined-link {
        background-color: #D6D6D6;
        text-transform: uppercase;
        font-family: 'Samsung Sharp Sans';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        min-height: auto;
        padding: 14px 35px;
        border-radius: 26px;
        margin-top: 7px;
      }

      @media only screen and (max-width: 768px){
        .cart-item-row h1.title.title--primary.cart-head {
          font-size: 32px;
        }
        #main-cart-footer   .totals * {
          justify-content: flex-end;
          font-size: 26px;
        }
        small.tax-note.caption-large.rte {
          font-family: 'SamsungOne 400';
          font-size: 14px;
        }
        /*         td.cart-item__details {
        grid-column: auto;
      } */

        .cart-item__quantity label.visually-hidden {
          display: block!important;
          position: initial!important;
          height: auto;
          width: auto;
          padding-top: 9px;
          font-size: 14px;
          padding-right:7px;
        }
        
      }

      @media only screen and (max-width: 480px){
        .cart-item-row h1.title.title--primary.cart-head {
          font-size: 30px;
        }
        .cart-item-row .cart-items th {
          display: none;
        }
        .cart-items thead tr{ display:none; } 
        .cart-items .price--end {
          justify-content: start;
        }
        .cart-item cart-remove-button {
          display: inline-block;
          margin-left: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        h3.totals__subtotal,h3.totals__subtotal span {
          font-family: 'SamsungOne 400';
          font-size: 16px!important;
          font-weight: 400;
        } 
        #main-cart-footer .totals * {
          font-size: 20px;
        }
        small.tax-note.caption-large.rte {
          margin-top: 10px;
        }
        .cart__ctas {
          flex-wrap: wrap;
          justify-content: center;
          gap: 1.5rem;
        }
        a.continue-shop.underlined-link {
          order: 2;
        }
        .cart-item-row  .quantity {
          height: 4.5rem;
          width: 8rem;
          display: flex;
        }
        .cart-item-row  .quantity__button {
          width: 2.5rem;
        }

      }

    </style>
    <script>
      jQuery.getJSON('/cart.js', function(cart) {
        // now have access to Shopify cart object
        //    alert('There are now ' + cart.item_count + ' items in the cart.');
        var cart_price = cart.total_price;
        
        console.log('$'+cart_price);
        if(cart.item_count > 0 )
        {
          $('#CartCount span:first').show();
          $('#CartCount span:first').text(cart.item_count);
           $('.totals__subtotal span:first').text(cart.item_count);
        }
        else{
          $('#CartCount span:first').hide();
        }

      } );
    </script>
      
     

    <style>
/*       .diagram-img-api {
        display: flex;
        /* flex-wrap: wrap; *
        overflow-x: scroll;
        overflow-y: hidden;
        margin-bottom:50px;
      }

      .diagram-item {
        flex: 0 0 20%;
        margin:0 1.5%;
      }
       */
/*     Search Page css   .semi-inner, */
       #seeMore{
        display:none;
      }
      #seeMore {
        border-radius: 50px;
        color: #fff;
        text-align: center;
        font-family: "SamsungOne 700";
        font-size: 15px;
        align-items: center;
        justify-content: center;
        line-height: 1;
        padding: 14.5px 38px;
        background: #1428A0;
        max-width: fit-content;
        margin: 0 auto;
      }
      
      .search-fridge-main .carousel-search-diagrams .items-inner span{
        line-break: anywhere;
      }
      .search-fridge-main .carousel-search-diagrams .items-inner img {
        display: block;
        border: 1px solid #CACACA;
        border-radius: 10px;
        height: 150px;
        object-fit: contain;
      }
      h2.heading-within span.search-query-diagram {
        color: #000;
      }
      .semi-inner .left-image img {
        max-width: 149px;
      }
      
      #cate-col-data .usf-is__matches.usf-is__products {
        width: 100%;
      }
      .search-page-results div#cate-col-data {
        margin-top: -48px;
      }
      span.nodata {
        padding-left: 19px;
      }


/*    Search page css ends here    */
    </style>
    
        <script src="{{ 'search.js' | asset_url }}"></script>
    
  
    <script>
  function initFreshChat() {
    window.fcWidget.init({
      token: "50c5104f-9bcb-44f1-8e8f-9903f0b6258b",
      host: "https://wchat.freshchat.com"
    });
  }
  function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"Freshdesk Messaging-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);

// window.fcWidget.hide();
    </script>
<!--     <button onclick="window.fcWidget.open();window.fcWidget.show();">Chat with us</button> -->

<!--     <button type="submit" class="btn btn-success d-none notify-submit"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Notify</button> -->
 
   
  </body>
</html>
